AI_GATEWAY_API_KEY= # API key for Vercel AI Gateway (from https://vercel.com/ai-gateway)
GOOGLE_GENERATIVE_AI_API_KEY= # API key for Google Gemini (from https://aistudio.google.com/api-keys)
UNSPLASH_ACCESS_KEY= # Access key for Unsplah API (from https://unsplash.com/oauth/applications)