.main {
  --hor-padding: 42px;
  --vert-padding: 24px;
  --shadow_chat: 0px 0px 14px 14px var(--background);
  --shadow_msg: 0 0 1px 2px var(--shadow);

  @media (max-width: 600px) {
    --hor-padding: 24px;
    --vert-padding: 12px;
  }

  align-items: flex-start;
  background: var(--background);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  max-width: 1024px;
  width: 100%;
}

.header {
  background: linear-gradient(30deg, transparent 0% 70%, var(--shadow) 100%);
  margin-bottom: 1em;
  padding: var(--vert-padding) var(--hor-padding) 1em;
  width: 100%;
}

.title {
  display: flex;
  color: var(--accent);

  h1 {
    font-size: 26px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}

.description {
  color: var(--text-secondary);
}

.description.desktop {
  font-size: 14px;

  @media (max-width: 600px) {
    display: none;
  }
}

.description.mobile {
  font-size: 13px;

  @media (min-width: 601px) {
    display: none;
  }
}

.content {
  background: linear-gradient(30deg, var(--shadow) 0%, transparent 30% 100%);
  display: flex;
  gap: 1.5em;
  overflow: auto;
  padding: 0 var(--hor-padding);
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1em;
  }
}
